<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd    
    http://www.springframework.org/schema/context    
    http://www.springframework.org/schema/context/spring-context-2.5.xsd"  
    default-lazy-init="true">  
  
    <!-- 自动扫描 -->  
    <context:annotation-config />  
    <context:component-scan base-package="com.renren">  
    </context:component-scan>  
       
   	<!-- 配置调度工厂 -->
   	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
   		<property name="triggers">
   			<list>
   				<ref bean="neteasyCronTrigger"/>
   				<ref bean="hourlyEmailSenderCronTrigger"/>
   				<ref bean="dailyEmailSenderCronTrigger"/>
   			</list>
   		</property>
   	</bean>
   	
    <!-- 接受邮件的定时任务 -->   
    <bean name="neteasyReceverJob" class="org.springframework.scheduling.quartz.JobDetailBean">
    	<property name="jobClass" value="com.renren.mail.monitor.job.NeteasyReceverJob"></property>
    	<property name="jobDataAsMap">
    		<map>
    			<entry key="neteasyEmail">
    				<ref bean="neteasyEmail"></ref>
    			</entry>
    		</map>
    	</property>
    </bean>
    <bean id="neteasyCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	<property name="jobDetail" ref="neteasyReceverJob"></property>
    	<property name="cronExpression" value="0 */5 * * * ?"></property>
    </bean>
    
    <!-- 每小时发送邮件的定时任务 -->
    <bean name="hourlyEmailSenderJob" class="org.springframework.scheduling.quartz.JobDetailBean">
    	<property name="jobClass" value="com.renren.mail.monitor.job.HourlyEmailSenderJob"></property>
    	<property name="jobDataAsMap">
    		<map>
    			<entry key="emailSenderImpl">
    				<ref bean="emailSenderImpl"></ref>
    			</entry>
    		</map>
    	</property>
    </bean>
    <bean id="hourlyEmailSenderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	<property name="jobDetail" ref="hourlyEmailSenderJob"></property>
    	<property name="cronExpression" value="0 5 * * * ?"></property>
    </bean>
    
    <!-- 每天发送邮件的定时任务 -->
    <bean name="dailyEmailSenderJob" class="org.springframework.scheduling.quartz.JobDetailBean">
    	<property name="jobClass" value="com.renren.mail.monitor.job.DailyEmailSenderJob"></property>
    	<property name="jobDataAsMap">
    		<map>
    			<entry key="emailSenderImpl">
    				<ref bean="emailSenderImpl"></ref>
    			</entry>
    		</map>
    	</property>
    </bean>
    <bean id="dailyEmailSenderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	<property name="jobDetail" ref="dailyEmailSenderJob"></property>
    	<property name="cronExpression" value="0 0 1 * * ?"></property>
    </bean>
    
    <!-- 网易邮件 -->
    <bean id="neteasyEmail" class="com.renren.mail.monitor.email.NeteasyEmail">
    	<property name="mailAccountList" ref="mailAccountList"></property>
    	<property name="senderDomainList" ref="senderDomainList" />
    </bean>
    
</beans>